.Page {
  text-align: center;
}

.picture {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
  color: white;
}

.Intro-text {
  margin-left: 120px;
  margin-right: 120px;
}