body {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.picture {
  height: 40vmin;
  pointer-events: none;
}

.screenshot {
  height: 60vmin;
}

.header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(9px + 2vmin);
}

.Intro-text {
  margin-left: 120px;
  margin-right: 120px;
}

.flexbox {
  display: flex;
  column-gap: 30px;
  margin-left: 140px;
  margin-right: 140px;
}

.box-text {
  font-size: 20px;
}